.App {
  text-align: center;
}

.wrapper {
  display: flex;
}

.post_item{
  cursor:pointer;
}

.content{
  overflow: auto;
  min-height: 10vh;
  max-height: 90vh;
  position:relative;
  top:51px;
}

button{
  cursor: pointer;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
