.blogSettingBoard{
    font-size: 30px;
    line-height: 200%;
}

.blogSettingBoard > div {
    cursor: pointer;
    border: 1px solid black;
    width: 500px;
    height: 80px;
    margin : 5px
}

.blogSettingBoard > div:hover{
    background-color: lightcyan;
}

.setting_item, .settingListHeader, .ready_Subject_add, .add_ready {
    display: flex;
    width:900px;
    justify-content: space-around;
}
.settingListHeader {
    margin-top: 10px;
    margin-bottom:5px;
}

.subjectList > hr , .boardList > hr, .postList > hr{
    margin-top: 0px;
    margin-bottom: 10px;
}
.setting_item {
    margin-bottom: 10px;
}
.setting_buttons > button{
    margin-right: 10px;
}

.add_ready{
    margin-bottom: 5px;
}
