.blogSettingBoard{
    font-size: 30px;
    line-height: 200%;
}

.blogSettingBoard > div {
    cursor: pointer;
    border: 1px solid black;
    width: 500px;
    height: 80px;
    margin : 5px
}

.blogSettingBoard > div:hover{
    background-color: lightcyan;
}

.setting_item, .settingListHeader, .ready_Subject_add, .add_ready {
    display: flex;
    width:900px;
    justify-content: center;
}
.settingListHeader {
    margin-top: 10px;
    margin-bottom:5px;
}

.subjectList > hr , .boardList > hr, .postList > hr{
    margin-top: 0px;
    margin-bottom: 10px;
}
.setting_item {
    margin-bottom: 10px;
}
.setting_buttons > button{
    margin-right: 10px;
}

.add_ready{
    margin-bottom: 5px;
}

.post_setting_title{
    cursor: pointer;
    width: 300px;
}

.subject_setting_id{
    width: 100px;
}

.subject_setting_name {
    width: 400px;
}
.setting_buttons{
    width: 150px;
}

.board_setting_id{
    width: 100px;
}
.board_setting_subject{
    width: 200px;
}
.board_setting_name{
    width: 300px;
}

.post_setting_id{
    width: 130;
}
.post_setting_board{
    width: 200px;
}

.post_setting_dateTime{
    width: 120px;
}