.banner {
    width: 80vw;
    height: 350px;
    background-image:url("http://localhost:8080/img/banner.png");
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-color: rgb(215, 245, 255);
    min-width: 900px;
}

.homeSubjectContainer{
    display: flex;
    align-items: initial;
    justify-content: center;
    width: 80vw;
    min-width: 900px;
    margin-top: 30px;
    background-color: rgb(255, 205, 205);
}

.subject_item {
    margin : 10px;
}

.home_subject {
    margin:10px;
    display: inline-block;
    width: 500px;
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    font-size: 25px;
    font-weight: bold;
}

.home_board {
    margin:20px;
    margin-bottom: 20px;
    font-size: 23px;
    font-weight:500;
    text-align: left;
}

.home_post{
    margin:5px;
    font-size: 20px;
    font-weight: normal;
}