.content {
    width: 80vw;
    min-width: 900px;
    display: flex;
    align-items: initial;
    justify-content: center;
}

.postTop{
    display: flex;
    align-items: center;
}

.postDetail{
    display: flex;
    min-width: 700px;
}

.context{
    text-align: initial;
    min-height: 400px;
}

.title, .postTitleBox{
    min-width: 700px;
    text-align: initial;
    font-size: 17px;
    height: 30px;
    margin: 10px 0;
}

.postWriter{
    width: 150px;
    text-align: center;
}

.post_wrapper{
    min-width: 800px;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.newPostContent{
    resize: none;
    min-width: 700px;
    min-height: 300px;
    font-size: 17px;
    margin-bottom: 10px;
}

.postTitle{
    display: flex;
}

.dateTime {
    width: 120px;
}

#postSaveButton {
    width: 120px;
    height: 40px;
}